# Ambientes virtuais
markov-env/
.env/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# Arquivos de dados e modelos
*.pkl
*.npz
*.npy

# Jupyter
*.ipynb_checkpoints/

# Arquivos do sistema operacional
.DS_Store

# Bibliotecas nativas grandes (ex: PyTorch, Arrow)
*.dylib
